PG_DB=hw_13
PG_USER=postgres
PG_PASSWORD=admin
PG_PORT=5432
PG_DOMAIN=localhost

DB_URL=postgresql+asyncpg://${PG_USER}:${PG_PASSWORD}@${PG_DOMAIN}:${PG_PORT} /${PG_DB}

SECRET_KEY_JWT=974790aec4ac460bdc11645decad4dce7c139b7f2982b7428ec44e886ea588c6
ALGORITHM=HS256

MAIL_USERNAME=fatsapiuser@meta.ua
MAIL_PASSWORD=pythonCourse2023
MAIL_FROM=fatsapiuser@meta.ua
MAIL_PORT=465
MAIL_SERVER=smtp.meta.ua

REDIS_DOMAIN=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

CLD_NAME=dlvbizmzp
CLD_API_KEY=521545939732659
CLD_API_SECRET=r4ZoCiVGh9c2EDPsd1Ju80Tmbqc